
body {
    display: flex;
    align-items: center;
    justify-content: center;

}
.header .logo img {
    width: 96px;
    height: 90px;
}
.header {
    text-align: center;
}
.header h1 {
    color: var(--color-light);
}

.form {
    width: 440px;
    margin-top: 13px;
}
.form input, button {
    padding: 11px;
    border: 0;

    font-weight: bold;
    font-size: 1rem;
    font-family: Inter;
}
.form input{
    width: 75%;
    border-radius: 4px 0px 0px 4px;
}
.form input:focus{
    outline: none;
}
.form button{
    width: 25%;
    color: var(--color-light);
    border-radius: 0px 4px 4px 0px;
    background: var(--color-primary);

    cursor: pointer;
    transition: .2s;
}
.form button:hover{
    outline: none;
    background: #8257f9;
}

.result {
    padding: 32px;
    width: 440px;
    margin-top: 19px;
    border-radius: 7px;
    
    background: var(--color-semi-dark);

    color: var(--color-light);
}
.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result p {
    margin-top: 22px;
    color: rgb(183, 183, 183);
}
.result span {
    color: var(--color-light);
}
.result img {
    width: 100px;
    height: 97px;
}

.loader {
    display: flex;
    align-items: center;
    gap: 9px;
}
.loader .loading {
    font-size: 1.7rem;
    animation: loading 1.4s linear infinite;
}
@keyframes loading {
    0%{
        rotate: 360deg;
    }
}
.warning {
    color: var(--color-warning);
}
.error {
    color: var(--color-danger);
}